{% extends "index.html" %}
{% block content %}

<section>
    <div class="container justify-center-table">
        <h1>Remover modelo</h1>
        <br>
        <form method="POST">
            <div class="row">
                <div class="col">
                    <p>Modelo</p>
                    <input id="model" name="model" type="text" class="form-control" placeholder="Digite o modelo">
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-outline-dark">Remover modelo</button></div>
                </div>
            </div>
            <br>
        </form>

        <table class="table table-bordered table-striped text-center center">
            <thead>
                <tr>
                    <th class="text-center" scope="col">
                        Marca
                    </th>


                    <th class="text-center" scope="col">
                        Modelo
                    </th>


                    <th class="text-center" scope="col">
                        Motor
                    </th>


                    <th class="text-center" scope="col">
                        Ano
                    </th>


                    <th class="text-center" scope="col">
                        Preço
                    </th>
                </tr>
            </thead>

            <tbody>

                {% for car in infos %}
                <tr>
                    <td>
                        {{car['marca']}}
                    </td>

                    <td>
                        {{car['modelo']}}
                    </td>

                    <td>
                        {{car['motor']}}
                    </td>

                    <td>
                        {{car['ano']}}
                    </td>

                    <td>
                        {{car['preco']}}
                    </td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
</section>

{% endblock %}